# Python Environment
**/venv/
**/__pycache__/
**/server/db.sqlite3
**/migrations/
**/server/uploads

# NodeJS
node_modules
**/client/out

# Client Temp Files
**/client/local-games
!**/client/local-games/example.txt

# MacOS System
.DS_Store
