body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(#151515, #444343 ); 
    color: #444;
    margin: 0;
    padding: 0;
}

#login-form label, 
.signup-text {
  color: #ffffff;
}
.signup-text a {
    text-decoration: underline; 
}

#login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.signup-text {
    margin-left: 10px; 
    font-size: 14px;
}

#login-image {
    width: 300px; 
    height: auto;
    display: block;
    margin: 0 auto 20px; 
}


#login-container h2 {
    text-align: center;
    background: linear-gradient(to bottom, #8432D5, #b382f1);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    font-family: 'Russo One', sans-serif;
    font-size: 56px;
    margin-bottom: 20px;
}


.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 90px;
}


.input-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px;
}

#login-form label {
    font-weight: bold;
    margin-right: 10px; 
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: calc(90% - 125px); 
    padding: 10px;
    border: 1px solid white;
    background-color: lightgray;
    border-radius: 3px;
}

#login-form input[type="submit"] {
    display: inline-block;
    width: 250px; 
    height: 40px;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to bottom, #8432D5, #a382f1);
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

#login-form input[type="submit"]:hover {
    background: linear-gradient(to bottom, #7232c5, #9362e1); 
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}